/* style.css for first challenge, Horiseon */
/* Brenda Jackels, bjackels5@gmail.com */

/* make sure everything goes edge-to-edge */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* moved p above the header stuff since it applies to all paragraphs, not just the header */
p {
    font-size: 16px;
}

/* BEGIN HEADER FORMATTING */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* very slightly change the color of the "seo" lettes in the title. VERY slightly. */
header h1 .seo { 
    color: #d9dcd6;
}

/*
    header navigation menu. I could probably take out 'header', but what if the customer
    later wants a footer navigation, and wants it a little different than the header nav?
*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* we don't want bullets for the menu */
header nav ul {
    list-style-type: none;
}

/* whitespace in the header menu for legibility */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*
    prevent the menu options from looking like hyperlinks.
    added nav in front of the 'a' so that any other links that someday get added to the website
    will actually appear as links
 */
nav a {
    color: #ffffff;
    text-decoration: none;
}

/* END HEADER FORMATTING */

/* HERO FORMATTING - All hero information is here in the css. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* BEGIN CONTENT SECTION FORMATTING */

/* the sections within the content will alternate between image-text and text-image */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*
    Combined duplicate classes.
    I thought about creating a new class and using that in the index.html, but leaving them separate
    makes it possible to make future changes easier. For example, if the customer decided that they
    want alternate sections to have a different font color, now I can have these combined here, 
    and then add a separate definition that includes just the class(es) that each have only the
    font color defined.
*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* END CONTENT SECTION FORMATTING */

/* BEGIN BENEFIT SECTION FORMATTING */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*
    Combined duplicate classes.
    I thought about creating a new class and using that in the index.html, but leaving them separate
    makes it possible to make future changes easier. For example, if the customer decided that they
    want alternate sections to have a different font color, now I can have these three combined here, 
    and then add a separate definition that includes just the class(es) that each have just the
    font color defined
*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* END BENEFIT SECTION FORMATTING */

/* BEGIN FOOTER FORMATTING */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* END FOOTER FORMATTING */